
@font-face {
  font-family: JetBrainsMono;
  font-style: normal;
  font-weight: 400;
  src: url(./Assets/Fonts/JetBrainsMono-Medium.ttf);
}

.jet-brains {
	font-family: JetBrainsMono !important;
}

body {
  margin: 0;
  position: fixed;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
