@font-face {
  font-family: JetBrainsMono;
  src: url(Assets/Fonts/JetBrainsMono-Medium.ttf);
  font-weight: normal;
}

body {
	margin: 0;
}

.App {
	position: fixed;
	width: 100%;
	height: 100%;
	padding: 10px;
		font-family: JetBrainsMono;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark {
	background-color: black;
	color: white;
}

.light {
	background-color: white;
	color: black;
}


